
.navbars {
  width: 100%;
  height: 62px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 13px 17px;
  line-height: 25px !important;
  display: flex;
  justify-content: space-between;
}

.img2we img {
  width: 100%;
}
.imf23 {
  background-color: #002970;
  border-radius: 20px;
  min-width: 36px;
  padding: 2px;
  display: flex;
}
/* ------------------------------ */
.Zsef23 {
  /* background-color: #f7f9fc; */
  background-color: #a2b2c9;
  padding: 10px 15px;
}
.Sdefxs {
  background-color: #fff;
  padding: 12px;
  margin: 10px 0;
  border-radius: 20px;
  flex: 1 1;
}
.kUhgt {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.Zsef23 .IwXon2 {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
}
.IwXon2 .a5Bdew {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(20% - 8px);
  padding: 10px 0;
  margin-bottom: 15px;
  margin-right: 8px;
  flex: 1 1;
  box-sizing: border-box;
  /* margin-right: 10px; */
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.a5Bdew img {
  width: 48px;
  height: 48px;
  overflow: clip;
}

.a5Bdew span {
  max-width: 80px;
  margin-top: 8px;
  font-size: 13px;
  line-height: 15px;
  color: #000;
  font-weight: 500;
}

/* ------------------------- */

.Awlk32 img {
  align-self: center;
  width: 100%;
  /* height: 250px; */
  margin: 20px auto;
  display: flex;
  align-items: center;
}

/* ------------------------------ */
.z9vfs {
  background-color: #f7f9fc;
  padding: 16px 0;
  margin: 0 auto;
  max-width: 1170px;
}

.kaEw2 img {
  margin-bottom: 20px;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}

/* -------------------------------- */
.ZyNsa {
  /* padding: 10px 20px; */
  margin: 0 auto;
  max-width: 1170px;
}
.PoGrf img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* -------------------------------- */
.AjDe2 {
  border-radius: 20px;
  background-color: #fff;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  /* display: flex; */

  width: 100%;
  padding: 30px 15px;

  margin-right: 3%;
  align-self: center;
  box-sizing: border-box;
  /* padding: 20px 0 20px 100px; */
}
.kdwA img {
  margin-bottom: 12px;
  max-width: 150px;
  max-height: 50px;
}
.qixG2s {
  margin-bottom: 8px;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  display: block;
  line-height: 24px;
}
.qixG2s span {
  color: #00baf2;
}

.x1MFf {
  margin-bottom: 20px;
  font-size: 12px;
  color: #000;
  font-weight: 500;
  line-height: 16px;
}

/* ------------------------ */
.Sdefxs1 {
  margin: 0 auto;
  max-width: 1170px;

  /* background-color: #fff;
  padding: 16px 0; */
}
.Swqes {
  flex-direction: column;

  display: flex;
  gap: 20px;

  padding: 6px;

  background-color: #fff;
  border-radius: 20px;
  flex: 1 1;

  padding: 12px;
}
.IwXon2s {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.a5Bdew2 {
  flex-grow: 0!important;;
  flex-shrink: 0!important;;
  flex-basis: calc(25% - 8px)!important;
  padding: 10px 0;
  margin-bottom: 15px;
  margin-right: 8px;

  flex: 1 1;
  padding: 25px 0;
  box-sizing: border-box;
  /* margin-right: 10px; */
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.a5Bdew2 img {
  width: 48px;
  height: 48px;
}
.a5Bdew2 span{
  font-size: 12px;
        margin-top: 9px;
        max-width: 80px;
    color: #000;
    font-weight: 500;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .aK782 {
    padding: 6px;
  }
}
