@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body,
button,
h1,
h2,
input,
pre,
select,
textarea {
  font-family: "Roboto", sans-serif !important;
}

.p14{
  padding:0 16px;
}
.navbars {
  width: 100%;
  height: 62px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 41, 112, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 13px 17px;
  line-height: 25px !important;
  display: flex;
  justify-content: space-between;
}

.img2we img {
  width: 100%;
}
.imf23 {
  background-color: #002970;
  border-radius: 20px;
  min-width: 36px;
  padding: 2px;
  display: flex;
}
/* ------------------------------ */

.Zsef23 {
  background-color: #f7f9fc;
  padding: 16px 15px;
  /* margin-top: 16px; */
}
.Sdefx {
  margin: 0 auto;
  max-width: 1170px;
}
.qYn3s {
  flex-direction: column;
  display: flex;
  /* gap: 10px; */
  margin: 15px 0;
  background-color: #fff;
  border-radius: 20px;
  flex: 1 1;
  padding: 12px;
}
.kUhgt {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.IwXon2 {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.IwXon2 .a5Bdew {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  flex-basis: calc(25% - 8px) !important;
  padding: 10px 0;
  margin-bottom: 15px;
  margin-right: 8px;
  flex: 1 1;
  padding: 10px 0;
  box-sizing: border-box;
  /* margin-right: 10px; */
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.a5Bdew img {
  width: 48px;
  height: 48px;
}

.a5Bdew span {
  max-width: 80px;
  margin-top: 8px;
  font-size: 13px;
  line-height: 15px;
  color: #000;
  font-weight: 500;
}

/* ------------------------- */
.ZiVtr {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;
}
.Awlk32 {
  align-self: center;
  width: 300px;
  height: 250px;
}
.Awlk32 img {
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 100%;
  height: 100%;
}

/* ------------------------------ */
.z9vfs {
  background-color: #f7f9fc;
  padding: 16px 0;
  margin: 0 auto;
  max-width: 1170px;
}

.kaEw2 img {
  margin-bottom: 20px;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}

/* -------------------------------- */
.ZyNsa {
  /* padding: 10px 20px; */
  margin: 0 auto;
  max-width: 1170px;
}
.PoGrf img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* -------------------------------- */
.AjDe2 {
  border-radius: 20px;
  background-color: #fff;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  /* display: flex; */

  width: 100%;
  padding: 30px 15px;

  margin-right: 3%;
  align-self: center;
  box-sizing: border-box;
  /* padding: 20px 0 20px 100px; */
}
.kdwA img {
  margin-bottom: 12px;
  max-width: 150px;
  max-height: 50px;
}
.qixG2s {
  margin-bottom: 8px;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  display: block;
  line-height: 24px;
}
.qixG2s span {
  color: #00baf2;
}

.x1MFf {
  margin-bottom: 20px;
  font-size: 12px;
  color: #000;
  font-weight: 500;
  line-height: 16px;
}
.mM6X9 {
  display: flex;
  margin-right: 10px;
}
.mM6X9 img {
  width: 131px;
  height: 40px;
  max-height: 45px;
  margin-right: 10px;
}
.Ya3Gs {
  width: 100%;
}
.Ya3Gs img {
  object-fit: fill;
  width: 100%;
  height: auto;
}

/* --------------footer------- */
.aEosk {
  padding: 40px 20px;
  margin-top: 5px;
}
.vfdGk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  gap: 12px;
  padding: 14px 0;
  cursor: pointer;
  position: relative;
  line-height: 15px;
}
.skDv2h {
  border: 1px solid #ccc;
  margin: 0 20px;
}
.Zo9xa {
  gap: 10px;
  padding: 20px 0;
  margin-bottom: 40px;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #707070;
  font-weight: 500;
  justify-content: space-between;
}
.aYvkk {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.aYvkk div {
  margin-left: 15px;
}
.aYvkk img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.dJXTa {
  width: 100%;
}
.dJXTa:before {
  background: #00baf2;
}
.dJXTa:after {
  background: #002970;
}

.dJXTa:after,
.dJXTa:before {
  height: 14px;
  content: "";
  display: block;
}

/* ============================================================ */

.Swd3w {
  font-size: 22px;
  color: #000;
  font-weight: 500;
}

.z8dkuh {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 16px;
  color: #000;
  text-decoration: none;

  
}

.poxs3a img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 25px;
  background-color: #fff;
}

.wa2kns {
  margin-left: 18px;
  flex: 1;
  border-bottom: 1px solid #e5e5e5;
  padding: 18px 0;
  font-size: 14px;
  font-weight: 500;
}
.wa2kns span{
  background-color: #26A66A;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 6px;
  font-size: 12px;
}

/* -------------------------------------- */
.KdsWe3{
  display: flex;
  justify-content: space-between;
  margin: 48px 0 20px 0;
}

.Kjf5Dx{
  width: 100%;
  border: 1px solid rgb(206, 202, 202);
  display: flex;
  padding: 16px;
  border-radius: 10px;
  justify-content: space-between;
  margin: 22px 0;
} 

.Kjuh-left{
  max-width: 60%; /* important */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pgr4e{
  font-size: 12px;
  color: #807e7e !important;
}
.Kjuh-left .HysD7G{
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  line-height: 14px;
}
.Kjuh-right{
  /* width: 22%; */
}
.Kjuh-right button{
  border: 1px solid #00baf2;
  color: #00baf2;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  font-weight: 500;
  font-size: 12px;
}

.Khcd2w{
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin: 0 8px;
}
.x2fSe{
  font-size: 12px;
  color: #000;
  margin-top: -2px;
}
.x2fSe svg{
  margin-left: -1px;
  font-weight: 600;
  margin-top: -3px;
  color: #000;
}
.kHgd4s{
  font-size: 14px;
  font-weight: 600;
  color: #00baf2;
  margin-top: 14px;
}

/* ----Form ---------- */
.Lkdj3e{
  border: 1px solid rgb(206, 202, 202);
  padding: 0px 14px;
  margin:16px 0;
  border-radius: 14px;
}
.input-container {
  position: relative;
  margin: 15px 0;
  width: 100%;
}
.input-field {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  font-weight: 500;
}
.input-label {
  position: absolute;
  left: 8px;
  top:12px;
  font-size: 16px;
  color: #686969;
  background: white;
  padding: 0 4px;
  pointer-events: none; /* label click issue fix */
  transition: 0.25s ease;
  font-weight: 500;
}
.input-field:focus + .input-label {
  top: -10px;
  font-size: 14px;
  color: #686969;
  font-weight: 500;
}
.input-field:not(:placeholder-shown) + .input-label {
  top: -10px;
  font-size: 14px;
}
.suggestion-box {
  position: absolute;
  top: 150px;
  width: 100%;
  background: white;
  border-radius: 8px;
  max-height: 180px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
}
.suggestion-box li {
  padding: 10px 12px;
  cursor: pointer;
}
.s2oGtk{
  width: 100%;
  margin: 14px 0;

}
.s2oGtk button{
  width: 100%;
  border: none;
  font-weight: 500;
  padding: 8px ;
  border-radius: 10px;
  font-size: 14px;
  color: #bebaba;
  margin-top: 14px;
  /* background-color: #00A8FF; */

}
.kHgT7j{
  color: #8f8d8d;
  font-size: 12px;
  padding-bottom: 14px;
}
.p2{
  margin-bottom: 2px;
}

/* ------------------------------------------ */
.aWk43 {
  width: 70px;
  height: 23px;
  overflow: hidden;

}

.aWk43 img{
  height: 22px;
  display: block;

}

/* ==================================== */
.aWk4q {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  /* margin: 0 auto; */
  /* padding: 2px; */
}
.aWk4q img{
  width: 123%;
  margin-left: -4px;
  margin-top: -4px;
}
.fGt6V{
  background-color: #d8d8d8;
  border-radius: 10px;
  padding: 12px;
}
.Kuj6d{
  display: flex;
  justify-content: center;
  padding: 8px 0;
}
.KjBy6{
  position: relative;
  border: 1px solid rgb(209, 206, 206);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 8px;
  background-color: #fff;
   
}
.KjBy6 img{
  margin-top: 18px;
  width: 100%;
  object-fit: contain;
}

.khFr4{
  display: flex;
  align-items: center;
  max-width: 100%;
}

.texts{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
  font-size: 24px;
  font-weight: 500;
}
.zAsw3{
  display: flex;
  width: 70px;
  height: 42px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  padding: 5px 4px;
}
.zAsw3 img{
  width: 64%;
  height: 40px;
  
}
.font38{
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}

.dota{
  border: 1px dotted rgb(158, 156, 156);
}
.font14{
  font-size: 14px;
  color: #000;
}
.font12{
  font-size: 12px;
  color: #383737;
  font-weight: 500;
}
.font16{
  font-size: 22px;
  font-weight: 500;
}
.Kuj6g{
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 10px 14px; 
}

.Jh7gt3{
  width: 100%!important;
  padding: 10px!important;
  font-size: 14px!important;
}